.tryit {
  border: 2px solid black;
  border-radius: 10px;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 1px solid red;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
p {
  line-height: 1.3;
}
header {
  display: flex;
  justify-content: space-between;
  height: 65px;
  background-color: #DDBEA9;
  position: fixed;
  top: 0;
  width: 100%;
}
@media (max-width: 500px) {
  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    position: static;
  }
}
header h1 {
  font-family: 'Montserrat', sans-serif;
  margin: auto 0;
  font-size: 2rem;
  padding: 0 2%;
  font-weight: bold;
  text-decoration: none;
}
@media (max-width: 500px) {
  header h1 {
    font-size: 3rem;
  }
}
header nav {
  width: 45%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 500px) {
  header nav {
    flex-direction: column;
    width: 100%;
  }
}
header nav a {
  color: black;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  width: 200px;
  text-align: center;
  padding: 23px 0;
}
@media (max-width: 800px) {
  header nav a {
    font-size: 0.8rem;
  }
}
@media (max-width: 500px) {
  header nav a {
    width: 100%;
    background-color: #B7B7A4;
  }
}
header nav a:hover {
  background-color: #EDDCD2;
}
.main {
  margin-top: 65px;
}
@media (max-width: 500px) {
  .main {
    margin-top: 0;
  }
}
.opener {
  height: 600px;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 500px) {
  .opener {
    flex-flow: column;
  }
}
.opener .headline {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .opener .headline {
    width: 90%;
    margin: 0 auto;
  }
}
.opener .headline img {
  width: 30%;
  margin-bottom: 3%;
}
.opener .headline h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  text-align: center;
  margin: 3% 0;
}
.opener .headline p {
  font-family: 'Montserrat', sans-serif;
  margin: 3% 0;
}
@media (max-width: 500px) {
  .opener .headline p {
    text-align: center;
  }
}
.opener .headline a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  box-sizing: border-box;
  width: 100px;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid black;
  border-radius: 10px;
}
.opener .headline a:hover {
  background-color: #EDDCD2;
}
.opener .main-img {
  width: 55%;
  display: flex;
  margin-top: 40px;
  margin-bottom: 20px;
  height: 85%;
}
@media (max-width: 800px) {
  .opener .main-img {
    height: 60%;
    align-items: center;
    margin-top: 130px;
  }
}
@media (max-width: 500px) {
  .opener .main-img {
    margin: 0 auto;
    width: 80%;
    margin-bottom: 15px;
  }
}
.opener .main-img img {
  width: 100%;
  border-radius: 10px;
}
.anywhere {
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #B7B7A4;
}
@media (max-width: 500px) {
  .anywhere {
    flex-flow: column-reverse;
    height: 450px;
  }
}
.anywhere .gps-phone {
  width: 33%;
}
@media (max-width: 500px) {
  .anywhere .gps-phone {
    width: 60%;
    margin-bottom: 20px;
  }
}
.anywhere .gps-phone img {
  width: 100%;
  border-radius: 10px;
}
.anywhere .anywhere-detail {
  height: 320px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.anywhere .anywhere-detail img {
  width: 15%;
}
@media (max-width: 500px) {
  .anywhere .anywhere-detail img {
    width: 25%;
    margin-top: 20px;
  }
}
.anywhere .anywhere-detail h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  margin: 15px 0;
  text-align: center;
}
.anywhere .anywhere-detail h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  text-align: center;
}
@media (max-width: 500px) {
  .anywhere .anywhere-detail h3 {
    margin-bottom: 15px;
  }
}
.virtual {
  display: flex;
  height: 400px;
  margin: 15px 0;
  justify-content: space-evenly;
}
@media (max-width: 500px) {
  .virtual {
    flex-direction: column;
    height: 550px;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
  }
}
.virtual .virtual-detail {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin-left: 9%;
}
@media (max-width: 500px) {
  .virtual .virtual-detail {
    width: 90%;
    margin-left: 0;
  }
}
.virtual .virtual-detail img {
  width: 30%;
}
@media (max-width: 500px) {
  .virtual .virtual-detail img {
    width: 25%;
  }
}
.virtual .virtual-detail h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  text-align: center;
  margin: 15px 0;
}
.virtual .virtual-detail p {
  font-family: 'Montserrat', sans-serif;
}
@media (max-width: 500px) {
  .virtual .virtual-detail p {
    text-align: center;
  }
}
.virtual .virtual-img {
  width: 43%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .virtual .virtual-img {
    width: 90%;
  }
}
.virtual .virtual-img img {
  width: 100%;
  border-radius: 10px;
}
.lifestyle {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 60px;
}
@media (max-width: 500px) {
  .lifestyle {
    flex-flow: column-reverse;
    align-items: center;
  }
}
.lifestyle .lifestyle-img {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .lifestyle .lifestyle-img {
    margin-top: 15px;
    width: 100%;
  }
}
.lifestyle .lifestyle-img img {
  width: 60%;
  border-radius: 10px;
}
@media (max-width: 800px) {
  .lifestyle .lifestyle-img img {
    width: 80%;
  }
}
.lifestyle .lifestyle-detail {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 7%;
}
@media (max-width: 500px) {
  .lifestyle .lifestyle-detail {
    width: 90%;
    margin: 0 auto;
  }
}
.lifestyle .lifestyle-detail img {
  width: 30%;
}
@media (max-width: 500px) {
  .lifestyle .lifestyle-detail img {
    width: 25%;
  }
}
.lifestyle .lifestyle-detail h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  margin: 15px 0;
  text-align: center;
}
.lifestyle .lifestyle-detail p {
  font-family: 'Montserrat', sans-serif;
}
@media (max-width: 500px) {
  .lifestyle .lifestyle-detail p {
    text-align: center;
  }
}
.review {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 30px 0;
  background-color: #DDBEA9;
}
@media (max-width: 500px) {
  .review {
    align-items: center;
  }
}
.review .customer {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.review .customer h3 {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 15px;
  font-size: 1.3rem;
}
.review .customer p {
  font-family: 'Montserrat', sans-serif;
}
@media (max-width: 500px) {
  .review .customer p {
    text-align: center;
  }
}
.review .rating {
  width: 30%;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .review .rating {
    width: 40%;
    height: 80%;
  }
}
.review .rating img {
  width: 50%;
}
@media (max-width: 800px) {
  .review .rating img {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .review .rating img {
    width: 100%;
  }
}
.review .customer-profile {
  width: 155px;
  display: flex;
  margin-right: 15px;
}
@media (max-width: 800px) {
  .review .customer-profile {
    width: 180px;
  }
}
@media (max-width: 500px) {
  .review .customer-profile {
    justify-content: center;
    align-items: center;
    margin-left: 15px;
  }
}
.review .customer-profile img {
  width: 150px;
  border-radius: 80px;
}
@media (max-width: 500px) {
  .review .customer-profile img {
    width: 150px;
    height: 150px;
  }
}
footer {
  background-color: #B7B7A4;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer a {
  text-decoration: none;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  color: black;
}
@media (max-width: 500px) {
  footer a {
    font-size: 1.6rem;
  }
}
footer a:hover {
  color: #FFF1E6;
}
