// Header Styling
header {
    display: flex;
    justify-content: space-between;
    height: 65px;
    background-color: @sand;
    position: fixed;
    top: 0;
    width: 100%;

    @media (max-width: 500px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 300px;
        position: static;
    }
    
    h1 {
        font-family: @font;
        margin: auto 0;
        font-size: 2rem;
        padding: 0 2%;
        font-weight: bold;
        text-decoration: none;

        @media (max-width: 500px) {
            font-size: 3rem;
        }
    }


    nav {
        width: 45%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        @media (max-width: 500px) {
            flex-direction: column;
            width: 100%;
        }

        a {
            color: black;
            text-decoration: none;
            font-family: @font;
            width: 200px;
            text-align: center;
            padding: 23px 0;

            @media (max-width: 500px) {
                width: 100%;
                background-color: @ashgrey;
            }
        }

        a:hover {
            background-color: @browngrey;
        }
    }
}

// To keep everything starting below static header 
.main {
    margin-top: 65px;

    @media (max-width: 500px) {
        margin-top: 0;
    }

}

// opener section 
.opener {
    height: 600px;
    display: flex;
    justify-content: space-around;

    @media(max-width: 500px){
        flex-flow: column;
    }

    .headline {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media (max-width: 500px) {
            width: 90%;
            margin: 0 auto;
        }

        img {
            width: 30%;
            margin-bottom: 3%;
        }

        h2 {
            font-family: @font;
            font-size: 1.6rem;
            text-align: center;
            margin: 3% 0;
        }

        p {
            font-family: @font;
            margin: 3% 0;

            @media (max-width: 500px) {
                text-align: center;
            }
        }

        a {
            text-decoration: none;
            font-family: @font;
            color: black;
            box-sizing: border-box;
            width: 100px;
            height: 40px;
            padding: 10px 12px;
            border: 1px solid black;
            border-radius: 10px;
        }

        a:hover {
            background-color: @browngrey
        }
    }

    .main-img {
        width: 55%;
        display: flex;
        margin-top: 40px;
        margin-bottom: 20px;
        height: 85%;

        @media (max-width: 800px) {
            height: 60%;
            align-items: center;
            margin-top: 130px;
        }

        @media (max-width: 500px) {
            margin: 0 auto;
            width: 80%;
            margin-bottom: 15px;
        }

        img {
            width: 100%;
            border-radius: 10px;
        }
    }  
}

// anywhere section 
.anywhere {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: @ashgrey;

    @media(max-width: 500px){
        flex-flow: column-reverse;
        height: 450px;
    }

    .gps-phone {
        width: 33%;

        @media (max-width: 500px) {
            width: 60%; 
            margin-bottom: 20px;  
        }

        img {
            width: 100%;
            border-radius: 10px;
        }
    }

    .anywhere-detail {
        height: 320px;
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            width: 15%;

            @media (max-width: 500px) {
                width: 25%;
                margin-top: 20px;
            }
        }

        h2 {
            font-family: @font;
            font-size: 1.8rem;
            margin: 15px 0;
            text-align: center;

        }

        h3 {
            font-family: @font;
            font-size: 1.3rem;
            text-align: center;

            @media (max-width: 500px) {
                margin-bottom: 15px;
            }
        }
    }
}

// virtual section 
.virtual {
    display: flex;
    height: 400px;
    margin: 15px 0;
    justify-content: space-evenly;

    @media(max-width: 500px){
        flex-direction: column;
        height: 550px;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: 0 auto;
    }

    .virtual-detail {
        width: 35%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;
        margin-left: 9%;

        @media (max-width: 500px) {
            width: 90%;
            margin-left: 0;
        }

        img {
            width: 30%;

            @media (max-width: 500px) {
                width: 25%;
            }
        }

        h2 {
            font-family: @font;
            font-size: 1.6rem;
            text-align: center;
            margin: 15px 0;
        }
        p {
            font-family: @font;

            @media (max-width: 500px) {
                text-align: center;
            }
        }
    }

    .virtual-img {
        width: 43%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: 500px) {
            width: 90%;
        }

        img {
            width: 100%;
            border-radius: 10px;
        }
    }
}

// lifestyle 
.lifestyle {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 60px;

    @media(max-width: 500px){
        flex-flow: column-reverse;
        align-items: center;
    }

    .lifestyle-img {
        width: 55%;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: 500px) {
            margin-top: 15px;
            width: 100%;
        }

        img {
            width: 60%;
            border-radius: 10px;

            @media (max-width: 800px) {
                width: 80%;
            }
        }
    }

    .lifestyle-detail {
        width: 35%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-right: 7%;

        @media (max-width: 500px) {
            width: 90%;
            margin: 0 auto;
        }

        img {
            width: 30%;

            @media (max-width: 500px) {
                width: 25%;
            }
        }
        h2 {
            font-family: @font;
            font-size: 1.6rem;
            margin: 15px 0;
            text-align: center;

        }
        p {
            font-family: @font;

            @media (max-width: 500px) {
                text-align: center;
            }
        }
    }

}

// customer review
.review {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 30px 0;
    background-color: @sand;

    @media (max-width: 500px) {
        align-items: center;       
    }

    .customer {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h3 {
            font-family: @font;
            margin-bottom: 15px;
            font-size: 1.3rem;
        }

        p {
            font-family: @font;

            @media (max-width: 500px) {
                text-align: center;
            }
        }
    }

    .rating {
        width: 30%;
        display: flex;
        justify-content: center;

        @media (max-width: 500px) {
            width: 40%;
            height: 80%;
        }

        img {
            width: 50%;

            @media (max-width: 800px) {
                width: 100%;
            }

            @media (max-width: 500px) {
                width: 100%;
            }
        }
    }

    .customer-profile {
        width: 155px;
        display: flex;
        margin-right: 15px;

        @media (max-width: 800px) {
            width: 180px;   
        }

        @media (max-width: 500px) {
            justify-content: center;   
            align-items: center;
            margin-left: 15px;
        }

        img {
            width: 150px;
            border-radius: 80px;

            // @media (max-width: 800px) {
            //     border-radius: 
            // }

            @media (max-width: 500px) {
                width: 150px;
                height: 150px;
            }
        }
    }
}


// footer 
footer {
    background-color: @ashgrey;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        text-decoration: none;
        font-size: 2rem;
        font-family: @font;
        color: black;

        @media (max-width: 500px) {
            font-size: 1.6rem;
        }
    }

    a:hover {
        color: @linen;
    }
}