// Header Styling
header {
    display: flex;
    justify-content: space-between;
    height: 65px;
    background-color: @sand;
    position: fixed;
    top: 0;
    width: 100%;
    h1 {
        font-family: @font;
        margin: auto 0;
        font-size: 2rem;
        padding: 0 2%;
        font-weight: bold;
    }
    nav {
        width: 25%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        a {
            color: black;
            text-decoration: none;
            font-family: @font;
            height: 100%;
            width: 30%;
            text-align: center;
        }

        a:hover {
            background-color: @browngrey;
        }
    }
}

// To keep everything starting below static header 
.main {
    margin-top: 65px;
}

// opener section 
.opener {
    height: 600px;
    display: flex;
    justify-content: space-around;
    // background-color: @linen;

    .headline {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            width: 30%;
            margin-bottom: 3%;
        }

        h2 {
            font-family: @font;
            font-size: 1.6rem;
            text-align: center;
            margin: 3% 0;
        }

        p {
            font-family: @font;
            margin: 3% 0;
        }

        a {
            text-decoration: none;
            font-family: @font;
            color: black;
        }
    }

    .main-img {
        width: 55%;
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;

        img {
            width: 100%;
            border-radius: 10px;
        }
    }  
}

// anywhere section 
.anywhere {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: @ashgrey;

    .gps-phone {
        width: 33%;

        img {
            width: 100%;
            border-radius: 10px;
        }
    }

    .anywhere-detail {
        height: 320px;
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            width: 15%;
            // padding-bottom: 10px;
        }

        h2 {
            font-family: @font;
            font-size: 1.8rem;
            margin: 15px 0;
        }

        h3 {
            font-family: @font;
            font-size: 1.3rem;
        }
    }
}

// virtual section 
.virtual {
    display: flex;
    height: 400px;
    margin: 15px 0;
    justify-content: space-evenly;

    .virtual-detail {
        width: 35%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;
        margin-left: 9%;

        img {
            width: 30%;
        }

        h2 {
            font-family: @font;
            font-size: 1.6rem;
            text-align: center;
            margin: 15px 0;
        }
        p {
            font-family: @font;
        }
    }

    .virtual-img {
        width: 43%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            border-radius: 10px;
        }
    }
}

// lifestyle 
.lifestyle {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;

    .lifestyle-img {
        width: 55%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 60%;
            border-radius: 10px;
        }
    }

    .lifestyle-detail {
        width: 35%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-right: 7%;

        img {
            width: 30%;
        }
        h2 {
            font-family: @font;
            font-size: 1.6rem;
            margin: 15px 0;
        }
        p {
            font-family: @font;
        }
    }

}

// customer review
.review {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 30px auto;

    .customer {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h3 {
            font-family: @font;
            margin-bottom: 15px;
            font-size: 1.3rem;
        }

        p {
            font-family: @font;

        }
    }

    .rating {
        width: 30%;
        display: flex;
        justify-content: center;

        img {
            width: 50%;

        }
    }

    .customer-profile {
        width: 155px;
        display: flex;
        margin-right: 15px;
        // justify-content: center;

        img {
            width: 150px;
            border-radius: 80px;
        }
    }
}


// footer 
footer {
    background-color: @ashgrey;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        text-decoration: none;
        font-size: 2rem;
        font-family: @font;
        color: black;
    }

    a:hover {
        color: @linen;
    }
}